#header {
    width: 1490px;
    height: 60px;
}
.header-nav {
    width: 1490px;
    height: 60px;
    color: #fff;
    border-bottom: 1px solid rgba(102, 102, 102, 0.05);
}
.header-logo {
    width: 280px;
    height: 60px;
    float: left;
    margin: 0 auto;
    line-height: 65px;
    padding:10px 22px ;
}
.header-menu {
    width: 750px;
    height: 60px;
    float: left;
}
a {
    text-decoration: none;
    color: #666;
}
.header-menu-item {
	width: 120px;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
	margin-left: 2PX;
	font-size: 14px;
}
.header-menu-item-active{
	width: 120px;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
	margin-left: 2PX;
    font-size: 16px;
}
.header-title {
    padding: 0 25px;
    color: #00BDFF;
}
.header-menu-item-active:after {
    content: '';
    width: 20px;
    height: 3px;
    background: #00bdff;
    border-radius: 2px;
    position: absolute;
    left: 39.7%;
    top: 65px;
    margin-left: -8px;
    margin-bottom: 1px;
}
.header-menu-item-nav {
	width: 1507px;
	height: 330px;
	background-color: rgb(248, 248, 248);
	display: none;
	position: absolute;
	line-height: 40px;
	font-size: 13px;
	padding-top: 30px;
	top: 70px;
	left: 0px;
	z-index: 20;
	box-shadow: 1px 8px 10px #DDD;
}
td{
	 width: 185px;
	 height: 40px;
	 text-align: left;
	 color:darkgrey;
}
.word1{
	font-size: 15px;
	color: gray;
}
.word2{
	font-size: 13px;
	color: #BBBBBB;
}
.word3{
	font-size: 12px;
	color: #BBBBBB;
}
.header-action {
	width: 200px;
	height: 60px;
	float: left;
    position: absolute;
    right: 0px;
}
.header-line {
    float: left;
    width: 3px;
    height: 10px;
    margin: 24px 12px;
    background: #666;
    opacity: .1;
}
.header-status {
    float: left;
}
.header-btn1 {
    display: inline-block;
    margin: 15px 7px;
    padding: 0 15px;
    height: 22px;
    border: 2px solid rgba(102, 102, 102, 0.3);
    border-radius: 13px;
    text-align: center;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    transition: all .2s;
}
.header-btn2 {
    display: inline-block;
    margin: 12px 7px;
    padding: 0 17px;
    margin-right: 12px;
    height: 24px;
    background: #00bdff;
    border-radius: 13px;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    transition: all .2s;
}
#bodyer{
	width: 1200px;
	height: 1650px;
	margin: 45px auto;
	//background-color: aquamarine;
}
.api-assort {
    margin-bottom: 44px;
    overflow: hidden;
}
.api-assort p {
    color: #3d3e3e;
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 22px;
}
.api-nav-selected {
	display: block;
    float: left;
    padding: 0px 17px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 12px;
    text-decoration: none;
    line-height: 24px;
    color: #00bdff;
    border-color: #00bdff;
    margin-right: 12px;
    margin-bottom: 10px;
    transition: all .2s;
}
.api-nav {
    display: block;
    float: left;
    padding: 0px 17px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 12px;
    text-decoration: none;
    line-height: 24px;
    color: #666;
    margin-right: 12px;
    margin-bottom: 10px;
    transition: all .2s;
}
.api-select-bar {
    position: relative;
}
.api-select-title {
    font-weight: bold;
    margin-left: 30px;
    font-size: 14px;
    color: #3d3e3e;
    margin-right: 16px;
}
.select-type-bar {
    position: absolute;
    right: 0;
    bottom: 0;
}
.select-type-group {
    position: relative;
    display: inline-block;
    margin-left: 70px;
}
.select-type {
    font-size: 12px;
    color: #666;
    margin-right: 16px;
}
.select-type-name-selected {
	font-size: 12px;
    color: #00bdff;
    margin-right: 16px;
    text-decoration: none;
}
.select-type-name {
    font-size: 12px;
    color: #999;
    margin-right: 16px;
    text-decoration: none;
}
.api-list-ul {
    padding: 0;
    margin-top: 23px;
    margin-bottom: 40px;
    overflow: hidden;
}
.api-list-li {
    position: relative;
    list-style-type: none;
    float: left;
    width: 226px;
    height: 268px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 5px 6px;
}
.api-info {
	position: relative;
	top:0px;
	width: 226px;
	height: 218px;
	padding-top: 50px;
    transition: .5s;
    text-align: center;
   // background-color: #FDA527;
}
.api-info a {
    display: inline-block;
}
.api-name {
    color: #666;
    font-size: 14px;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
}
.api-price {
    color: #ff5441;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.api-price.yellow {
    color: #fda527;
    font-size: 17px;
}
.api-marks {
    display: none;
    font-size: 12px;
}
.api-list-li:hover .api-get-btn {
    opacity: 1;
    animation-fill-mode: forwards;
    animation: floatbtn .5s;
}
.api-get-btn {
    opacity: 0;
    position: absolute;
    bottom: 17px;
    left: 50%;
    margin-left: -96px;
    width: 192px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #00bdff;
    border-radius: 3px;
    //text-decoration: none;
    padding: 0;
    //transition: .5s;
}
.api-paster {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 58px;
    height: 22px;
    background-color: #e5f8ff;
    font-size: 12px;
    color: #00bdff;
    text-align: center;
    line-height: 22px;
    border-radius: 3px;
}
.paginate {
    text-align: center;
}
.currentPage {
    position: relative;
    padding: 1px 6px;
    margin: 0 5px;
}
.paginate .currentPage a {
    margin: 0 1px;
    color: white;
}
.paginate a {
    color: #666;
    font-weight: bold;
    font-size: 14px;
    margin: 0 14px;
    text-decoration: none;
}
.paginate .currentPage:before {
    content: "";
    position: absolute;
    z-index: -99;
    top: 0px;
    left: -1px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #00bdff;
}
.nextPage a {
    color: #00bdff;
    font-weight: normal;
    margin: 0 30px;
}
#footer {
    width: 1490px;
    height: 320px;
    color: #666;
    background-color: #f8f8f8;
}
.footer-container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer-container .footer-link {
    float: left;
}
.footer-container dl {
    float: left;
    width: 145px;
    margin-left: 70px;
}
.footer-container dl dt {
    margin-bottom: 25px;
    font-size: 14px;
    margin-left: 40px;
    position: relative;
}
.footer-container dl dd {
    font-size: 12px;
    line-height: 28px;
    opacity: .5;
    cursor: default;
    margin-left: 40px;
}
.footer-container dl dd a {
    color: #666;
    cursor: pointer;
}
.footer-bottom {
    margin-top: 38px;
    padding-left: 15px;
    font-size: 12px;
}
.footer-bottom-left {
    float: left;
}
.footer-bottom a {
    display: inline-block;
    color: #666;
}
.footer-license {
    margin-left: 15px;
}
.footer-bottom span {
    vertical-align: middle;
    opacity: .3;
    margin-right: 3px;
}
.footer-pic2 {
    display: inline-block;
    width: 18px;
    height: 20px;
    background: url(https://juheimg.oss-cn-hangzhou.aliyuncs.com/www/v6/headerFooter/bei1.png) no-repeat;
    vertical-align: middle;
    opacity: 1;
}
.footer-icp {
    margin-left: 15px;
}
.footer-bottom-right {
    float: right;
}
.footer-help {
    position: fixed;
    width: 180px;
    height: 46px;
    bottom: 30px;
    right: 30px;
    font-size: 16px;
}
.footer-help-btn {
    width: 180px;
    height: 46px;
    line-height: 42px;
    text-align: center;
    background: #00bdff;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.footer-help-btn .dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
}
.footer-help-btn span {
    vertical-align: middle;
}